@import 'partials/base';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/footer';

.audience__content,
.testimonials,
.brand__content{
    padding: 64px 24px;
}

.audience__content__heading,
.brand__content__heading{
    font-size: clamp(32px, 4vw, 40px);
}

.brand__content__text,
.audience__content__text{
    margin: 0 auto;
    max-width: 445px;
}

.title__content{
    @include backgroundImage("../../public/images/photos/image-header.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.25rem;
    height: 33.625rem;
    justify-content: center;
    letter-spacing: 6.5px;
    text-transform: uppercase;
}

.title__heading{
    color: $white;
    font-weight: 900;
    font-size: clamp(2.5rem, 5vw ,56px);
}


.brand__image{
    @include backgroundImage("../../public/images/photos/image-transform.jpg");
    height: clamp(312px, 50vw, 600px);
}

.brand__content__heading{
    font-size: clamp(32px, 4vw, 40px);
    margin-bottom: 24px;
    color: $dark-blue;
}

.brand__content__text{
    color: $grayish-blue;
    line-height: 30px;
    margin-bottom: 32px;
}

.brand__content {
    .more-info-link{
        &::after{
            background-color: #FAD400;
        }

        &:hover::after{
            opacity: 1
        }
    }
}

.audience__image{
    @include backgroundImage("../../public/images/photos/image-stand-out.jpg");
    height: clamp(312px, 50vw, 600px);
}

.audience__content__heading{
    color: $dark-blue;
    margin-bottom: 24px;
}

.audience__content__text{
    color: $grayish-blue;
    margin-bottom: 32px;
    line-height: 30px;
}

.audience{
    .more-info-link{
        &::after{
            background-color: #FE7766;
        }

        &:hover::after{
            opacity: 1;
        }
    }
}


.graphic-design{
    @include backgroundImage("../../public/images/photos/image-graphic-design.jpg");
    height: 600px;
    position: relative;

    .graphic-design__content{
        position: absolute;
        bottom: 59px;
        padding: 0 24px;
        width: 100%;

        .graphic-design__content__heading{
            margin-bottom: 27px;
            color: hsl(167, 40%, 24%);
        }

        .graphic-design__content__text{
            color: hsl(167, 40%, 24%);
            line-height: 27px;
            font-size: 16px;
            letter-spacing: -0.11px;
            width: 80%;
            max-width: 339px;
            margin: 0 auto;
        }
    }
}

.photography{
    @include backgroundImage("../../public/images/photos/image-photography.jpg");
    height: 600px;
    position: relative;  
    
    .photography__content{
        position: absolute;
        bottom: 59px;
        padding: 0 24px;
        width: 100%;

        .photography__content__heading{
            margin-bottom: 27px;
            color: #052C3B;
        }

        .photography__content__text{
            color: #19536C;
            line-height: 27px;
            font-size: 16px;
            letter-spacing: -0.11px;
            width: 80%;
            max-width: 339px;
            margin: 0 auto;
        }
    }
}

.testimonials__heading{
    color: #A7AAAD;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 64px;
}

.testimonials__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.testimonials__item__image{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-bottom: 32px;
}

.testimonials__item__text{
    color: #5B636D;
    line-height: 32px;
    letter-spacing: -0.13px;
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 350px;
}

.testimonials__item__name{
    font-family: "Fraunces", serif;
    letter-spacing: -0.13px;
    margin-bottom: 9px;
}

.testimonials__item__job-title{
    font-size: 14px;
    color: #A7AAAD;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 188px;
}

@media screen and (min-width: 780px) {
    .audience__content,
    .brand__content{
        //padding: 158px 110px 158px 168px;
        padding-top: calc(64px + 6.58vw);
        padding-right: calc(24px + 6vw);
        padding-bottom: calc(64px + 6.58vw);
        padding-left: calc(24px + 10vw);
    }

    .brand{
        display: flex;
        text-align: left;
        flex-direction: row-reverse;

        .brand__content{
            width: 50%;
        }
    
        .brand__image{
            width: 50%;
            height: unset;
        }
    }

    .audience{
        display: flex;
        text-align: left;

        .audience__content{
            width: 50%;
        }

        .audience__image{
            width: 50%;
            height: unset;
        }
    }

    .testimonials{
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .gallery{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 447px;
    }

    .two-col-container{
        display: flex;
    }

    .two-col-container>*{
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    
    .title .title__content{
        height: 100vh;
    }

    .testimonials{
        .testimonials__container{
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }


}